body {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;

  &.links{
    height: 60%;
  }

  &.intro{
    height: 40%;
  }
 
}