// -----------------------------------------------------------------------------
//  #Footer
//
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    min-height: 13rem;
    height: 25%;
    a {
        margin: 1rem 1.5rem;
    }

    p {
        margin-top: auto;
    }
}