.attribution { 
    font-size: 1rem; 
    font-weight: 500;
    color: $color-text;
    text-align: center;
    background-color: $color-card;
    border-radius: 10px;
    padding: 1rem;
}

.attribution a { 
    color: $color-text-highlight;
    margin: 0; 
}