// -----------------------------------------------------------------------------
//  #Variables
//
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors
$color-button-hover: #ffffff;
$color-score-hover: #fb7413;
$color-score-active: #959eac;
$color-score: #7c8798;
$color-card: #252d37;
$color-background: #121417;

//fonts
$font-stack: "Overpass", sans-serif, Arial, Helvetica, sans-serif;

//media queries
$breakpoint-mobile: 800px;
$breakpoint-desktop: 1440px;