// -----------------------------------------------------------------------------
//  #Variables
//
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors
$color-text: #ffffff;
$color-text-highlight: #c5f82a;
$color-button: #333333;
$color-card: #1f1f1f;
$color-background: #141414;

//fonts
$font-stack: "Inter", sans-serif, Arial, Helvetica, sans-serif;

//media queries
$breakpoint-mobile: 800px;
$breakpoint-desktop: 1440px;