// -----------------------------------------------------------------------------
//  #Home-page
//
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  background: $color-background;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 40%;
  min-height: 8rem;
}