// -----------------------------------------------------------------------------
//  #Typography
//
// This file contains typography CSS.
// -----------------------------------------------------------------------------

* {
    font: 500 1rem/1.5rem $font-stack;
    color: $color-text;
    margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: $color-text-highlight;
}

p {
  font-weight: 400;
  text-align: center;
}